@page 
@model IndexModel
@{
	ViewData["Title"] = "Applications";
}

<div>
	<form class="search-block" method="post" asp-page-handler="SearchApplications">
		<input type="search" class="search-field" name="searchPrompt" placeholder="Поле поиска" value="@ViewData["lastSearch"]" />
		<label class="search-label">от</label>
		<input type="date" class="date-field" name="dateStart" value="@ViewData["lastDateStart"]"/>
		<label class="search-label">до</label>
		<input type="date" class="date-field" name="dateEnd" value="@ViewData["lastDateEnd"]" />
		<button type="submit" class="input-button search-button">Поиск</button>
		<button class="search-button update-button material-icons" style="font-size:32px;" action="@Model.IndexModelRefresh()">refresh</button>
	</form>
	

	<table data="Applications">
		<thead>
			<tr>
				<th scope="col">Название</th>
				<th scope="col">Автор</th>
				<th scope="col">Тип активности</th>
				<th scope="col">Описание</th>
				<th scope="col">План</th>
				<th scope="col">Платформа</th>
				<th scope="col">Дата</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var application in Model.applicationsList)
			{
					<tr>
						<th scope="row">@application.Title</th>
						<td>@application.Author</td>
						<td>@application.Activity</td>
						<td>@application.ShortDescription</td>
						<td>@application.Plan</td>
						<td>@application.Platform</td>
						<td>@application.SubmissionDate.ToString("dd.MM.yyyy")</td>
					<td>
						<form method="post" asp-page-handler="DeleteApplication">
							<input type="hidden" name="applicationId" value="@application.ApplicationId" />
							<button type="submit" class="delete-button @(Model.currentDeletedApplication==@application.ApplicationId ? "application-deleted": "")">+</button>
						</form>
					</td>
					</tr>
			}
		</tbody>
	</table>


</div>

