@page 
@model IndexModel
@{
	ViewData["Title"] = "Applications";
}

<div>
	<form class="search-block">
		<input type="search" class="search-field" placeholder="Поле поиска"/>
		<label class="search-label">от</label>
		<input type="date" class="date-field" name="dateStart"/>
		<label class="search-label">до</label>
		<input type="date" class="date-field" name="dateEnd"/>
		<button class="input-button search-button">Поиск</button>
		<button class="search-button update-button material-icons" style="font-size:32px;" "@Model.OnGet()">refresh</button>
	</form>
	<table data="Applications">
		<thead>
			<tr>
				<th scope="col">Название</th>
				<th scope="col">Тип активности</th>
				<th scope="col">Описание</th>
				<th scope="col">Дата</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var application in Model.applications)
			{
					<tr>
						<th scope="row">@application.Title</th>
						<td>@application.ActivityTypeID</td>
						<td>@application.ShortDescription</td>
						<td>@application.SubmissionDate.ToString("dd.MM.yyyy")</td>
					<td>
						<form method="post" asp-page-handler="DeleteApplication">
							<input type="hidden" name="applicationId" value="@application.ApplicationID" />
							<button type="submit" class="delete-button @(Model.currentDeletedApplication==@application.ApplicationID ? "application-deleted": "")">+</button>
						</form>
					</td>
					</tr>
			}
		</tbody>
	</table>


</div>

